<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<!--2020-1-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MSCacheWatchService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>

    <!--批量更新缓存周期类型：month：每月更新，week:每周更新,day:每天更新，time:定时更新-->
    <add key="SetCacheType" value="week"/>
    <!--批量更新缓存日期，每月的哪天的：【1-30】SetCacheType选择month时有效-->
    <add key="SetCacheDay" value="15"/>
    <!--批量更新缓存日期，周一到周日：【1-7】SetCacheType选择week时有效-->
    <add key="SetCacheWeekDay" value="6"/>
    <!--批量更新缓存的具体时间; 格式 hh:mm ,多个时间段之间用【,】分隔-->
    <add key="SetCacheTime" value="00:30,02:00"/>
    <!--如果是定时更新的话，每隔多久执行一次（单位秒）-->
    <add key="SetCachePeriod" value="120"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <MSCacheWatchService.Properties.Settings>
      <setting name="MSCacheWatchService_mscacheWeb_MemoryCacheService"
        serializeAs="String">
        <value>http://localhost:802/MemoryCacheService.svc</value>
      </setting>
    </MSCacheWatchService.Properties.Settings>
  </applicationSettings>
</configuration>